.grid-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem .5rem;
    justify-content: space-between
}

.grid-header .mat-form-field {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
}

#search-header {
    justify-content: flex-end;
}

.grid{
    width: 100%;
    overflow-x:auto;
}

.grid-data-container {
    flex-direction: nowrap;
    align-content: space-between;
    /*for scrolling within component*/
    min-height: 500px;
    max-height: 500px;  
    min-width: auto;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
    margin: 1rem .5rem;
}

.mat-table {
    /*for scrolling within component*/
    overflow: auto;    
    min-height: 500px;
    max-height: 500px;   
    min-width: auto;
    justify-content: space-evenly;
}

.mat-row:hover {
    background: rgba(0, 0, 0, .12);
}

.mat-row:nth-child(even) {
    background: #f8f8f8;
}

.mat-row:nth-child(even):hover {
    background: rgba(0, 0, 0, .12);
}

.mat-header-row {
    position: sticky;
    top: 0;    
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 3rem;    
    padding: 0 1rem;
    
}

.mat-row {
    height: 3rem;    
    padding: 0 1rem;
}

.mat-header-cell {
    padding: 1rem .5rem;
    font-size: 1rem;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top
}

.mat-cell {
    padding: .75rem .5rem;
    font-size: 0.9rem;
    display: inline-block;
    vertical-align: top;
    align-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th.mat-header-cell{
    border: none;
}

td.mat-cell {
    border-bottom: none;
}

#loader-div {
    min-height: 0.3125rem;
    background: transparent;
}

.width-12_5-rem {
    min-width: 12.5rem;
}

.sort-header {
    position: relative;
    font-weight: bolder
}

.sort-header-remove {
    position: absolute;
    top: 0.15rem;
    right: 0;
    font-size: 1.2rem;
}

.no-records {
    text-align: center;
    color: #757575;
}
div .mat-sort-header-arrow{
    bottom: -0.35rem;
}
.link-cell{
    cursor: pointer;
}

::-webkit-scrollbar{
    height: 5px;
    width: 5px;
    background: #f8f8f8;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:horizontal{
    background: rgba(0, 0, 0, .12);
    border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:vertical{
    background: rgba(0, 0, 0, .12);
    border-radius: 2.5px;
}